<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="portal.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="portal.vo.Product" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="productName" property="productname" jdbcType="VARCHAR" />
    <result column="productDesc1" property="productdesc1" jdbcType="VARCHAR" />
    <result column="productDesc2" property="productdesc2" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="productOrigin" property="productorigin" jdbcType="VARCHAR" />
    <result column="productBz" property="productbz" jdbcType="VARCHAR" />
    <result column="productShape" property="productshape" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="producttypeid" property="producttypeid" jdbcType="VARCHAR" />
    <result column="brandId" property="brandid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Condition_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <!--每一个标签执行完成后的开始为括号，结束为括号，中间用and连接-->
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, productName, productDesc1, productDesc2, weight, productOrigin, productBz, productShape, 
    price, producttypeid, brandId
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="portal.vo.Product" >
    select
    <include refid="Base_Column_List" />
    from tb_product
  </select>
</mapper>